body{
  width: 375px;
  height:667px;
  margin: 0px
}
div .container{
  height:100%;
  width: 100%;
}
div.homePageChoice{
  width:100%;
  height: auto;
}

div .homePageLogo{
  width:100%;
  height:100px;
}

.homePageChoice input{
  margin-top: 50px;
  width:275px;
  height:100px;
  margin-left: 50px;
}
